---
import Tour from '../components/Tour.astro';
import SpeechButton from '../components/SpeechButton.jsx';
import SpeechButtonButSvelte from '../components/SpeechButtonButSvelte.svelte';
import RandomSpeechButton from '../components/RandomSpeechButton.svelte';

let title = '9 Speech';

interface IData {
  label: string
  filename: string
  type: string
}

const data: IData = [
  { label: "สวัสดีครับทุกคน ผมอาร์มเองนะครับ", filename: "helloeveryone_iam_arm", type: "Svelte" },
  { label: "ไอ้เห้ลูเซ่อ", filename: "loser", type: "Svelte" },
  { label: "เอาไปเลยศูนย์นะ", filename: "q00point_short", type: "Svelte" },
  { label: "เอาไปเลยศูนย์นะ คือเมิง เหมือนกับจับ ปูใส่กระด้งมาก นะคับ", filename: "q00point", type: "Svelte" },
  { label: "สิบ สิบเต็มสิบ ติ้ง ♪", filename: "q10point", type: "Svelte" },
  { label: "กระจอก", filename: "suck", type: "Svelte" },
  { label: "แม่ง ค่ดโง่ววววว", filename: "verystupid", type: "Svelte" },
  { label: "อิริชัยมาเสะ", filename: "irichaimase", type: "Svelte"},
  { label: "ไร้สาระ", filename: "nonsense", type: "Svelte"},
  { label: "บ้านของเรา", filename: "our house", type: "Svelte"},
  { label: "เตาย่าง>ควัน>สัญญาณไฟ>อพยพทั้งตึก", filename: "bbq = evacuate the whole building", type: "Svelte"},
  { label: "สปอนเซอร์นะครับ", filename: "sponsor-na-krub", type: "Svelte"},
]

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            /* max-width: min(100%, 68ch); */
        }
    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <h1 class="text-6xl mb-8">9 Speech</h1>
                <p class="text-base">(ใครมีเสียงเด็ดๆ ของท่านว่าที่ รมต. อัดมาเป็น .mp3 แล้วส่งให้หน่อยจ้า)</p>
            </div>
        </header>

        <div class="flex justify-center items-center flex-wrap w-1/2 mx-auto mt-10">
          {data.map(({label, filename, type}) => {
            if (type === 'React') {
              return <SpeechButton client:visible {label} {filename} />
            } else if (type === 'Svelte') {
              return <SpeechButtonButSvelte client:visible {label} {filename} />
            } else {
              return <SpeechButtonButSvelte client:visible {label} {filename} />
            }
          })}
        </div>

        <div class="flex justify-center items-center flex-wrap w-1/2 mx-auto mt-10">
          <RandomSpeechButton client:visible {data} />
        </div>
    </main>
</body>
</html>
